body{
  margin:0;
  padding:0;
}
.d-flex{
  background-color: #004052;
}


.input-group{
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-top: 20px;
  padding-left: 25px;
  padding-right: 30px;
}
.input-group-append{
  padding-left: 10px;
}

.img-fluid{
  margin-left: 20px;
 padding-bottom: 20px;
}
h1{
  display: flex;
  padding-left: 25px;
}

.my-0{
  text-decoration: none;
  font-size: 30px;
  color:black;
}
.row h3{
  display: flex;
  padding-left: 38px;
}

.col-4{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px,1fr));
  gap: 16px;
  margin-left: 32px;
  margin-bottom: 20px;
}
.col-md-8{
  display: flex;
  flex-direction: column;
  margin-left:10px;
}
.col-me-4{
  margin-left: 40px;
}
.col-md-8 .card{
  border: none;
  margin-left: 0px;
  margin-right:15px;
}

h6{
  text-align: center;
}